/*  .container {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 20px;
    background-color: #121212; 
    color: #ff8c00; 
    margin-top: 80px;
}

.container {
    max-width: 400px;
    margin: auto;
    text-align: center; 
    padding: 40px;
    border: solid 5px yellow;
    border-radius: 25px;
    position: relative; 
 }

.container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: solid 10px transparent;
    border-radius: 25px;
    pointer-events: none; 
}

@keyframes neonGlow {
    0% { box-shadow: 0 0 30px #eeff00, 0 0 20px #ff0000, 0 0 30px #ff8c00; }
    50% { box-shadow: 0 0 30px #d9ff00, 0 0 30px #05d517, 0 0 20px #ff8c00; }
    100% { box-shadow: 0 0 30px #d9ff00, 0 0 20px #060edd, 0 0 30px #ff8c00; }
}


.container:hover::before {
    animation: neonGlow 1s infinite alternate; 
}

h2 {
    font-weight: bold; 
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold; 
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold; 
}

input[type="submit"]:hover {
    background-color: #45a049;
}


input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus, 
textarea:focus {
    outline: none;
    border-color: #00FF00; 
    box-shadow: 0 0 10px #00FF00; 
}

.error {
    color: red;
    font-size: 0.9em;
}  */
